1. What are data structures, and why are they important?

 - Data structures are ways of organizing and storing data so it can be accessed and modified efficiently. They are important because they improve program performance, optimize memory usage, and make complex problems easier to solve.

2. Difference between mutable and immutable data types with examples.

 - Mutable data types can be changed after creation.
   Examples: list, dictionary, set

   Immutable data types cannot be changed once created.
   Examples: int, float, string, tuple

3. Main differences between lists and tuples in Python

- Lists are mutable, tuples are immutable

  Lists use [ ], tuples use ( )

  Lists are slower than tuples

  Tuples are safer for fixed data

4. How do dictionaries store data?

- Dictionaries store data as keyâ€“value pairs using a hash table, which allows fast lookup, insertion, and deletion.

5. Why use a set instead of a list?

- Sets automatically remove duplicates and provide faster membership testing compared to lists.

6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters, while a list is mutable and can store different data types.

7. How do tuples ensure data integrity?

- Tuples are immutable, so their values cannot be changed accidentally, ensuring data remains consistent.

8. What is a hash table, and its relation to dictionaries?

- A hash table is a data structure that maps keys to values using hashing. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types?

- Yes, lists can store multiple data types like integers, strings, floats, and even other lists.

10. Why are strings immutable in Python?

- Strings are immutable for memory efficiency, security, and performance optimization.

11. Advantages of dictionaries over lists

- Faster data retrieval

  Data accessed using meaningful keys

  Better for structured data

12. When is a tuple preferable over a list?

- When data should not be changed, such as   coordinates, database records, or fixed configuration values.

13. How do sets handle duplicate values?

- Sets automatically remove duplicate values and store only unique elements.

14. How does the in keyword differ for lists and dictionaries?

 - In lists: checks for values

   In dictionaries: checks for keys

15. Can you modify elements of a tuple? Why/Why not?

- No, because tuples are immutable, meaning their elements cannot be changed after creation.

In [ ]:
#Practicle Questions ==

In [ ]:
#Write a code to create a string with your name and print it
Name = "Siddheshwar"
print(Name)

Siddheshwar

In [ ]:
#Write a code to find the length of the string "Hello World"
Nmae = "Siddheshwar"
print(len(Name))

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"
String = "Python Programming"
String[:3]

'Pyt'

In [ ]:
#Write a code to convert the string "hello" to uppercase
String = "hello"
String.upper()

'HELLO'

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
fruit = "I like apple"
fruit.replace("apple","orange")

'I like orange'

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1,2,3,4,5]
lst.pop(2)
print(lst)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c','d']
lst[1]

'b'

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
T = (100,200,300)
print(T)

(100, 200, 300)

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ('red', 'green','blue','yellow')
tup[-2]

'blue'

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
min(tup)

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
tup.index("cat")

1

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple','mango', 'banana')
"kiwi" in fruits

False

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
Set = {'a','b','c'}
print(Set)

{'b', 'a', 'c'}

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
Set = {1, 2, 3, 4, 5}
Set.clear()
print(Set)

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
Set = {1,2,3,4}
Set.remove(4)
print(Set)

{1, 2, 3}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3}# and {3, 4, 5}.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 & s2

{3}

In [ ]:
#symmetric function
s1^s2

{1, 2, 4, 5}

In [ ]:
#difference (elements present in1st not in 2nd)
s1-s2

{1, 2}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
Dict = {'name': "Mike",'age': "23",'city' : "tokyo"}
type(Dict) #dict
Dict['name']

'Mike'

In [ ]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person =  {'name': 'John', 'age': 25}
person["country"] = "USA"

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')

22

In [ ]:
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
'city' in person

True

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
data_structures = ((1,2,3,4,5,6), ['john',2.3,5,6,7], {'name': 'Alice', 'city': 'Paris'})
print(data_structures)

((1, 2, 3, 4, 5, 6), ['john', 2.3, 5, 6, 7], {'name': 'Alice', 'city': 'Paris'})

In [86]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = []
for i in range(5):
  random_numbers.append(random.randint(1,100))
random_numbers.sort()
print(random_numbers)

[15, 43, 68, 85, 90]

In [89]:
#Write a code to create a list with strings and print the element at the third index.
lst = ['rahul', 'ajay', 'pooja','tara']
print(lst[3])

tara

In [99]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'ajay': 20, 'vijay':21, 'sanjay':22}
dict2 = {'prem': 19, 'vijay': 18, 'samarprit': 16}
dict3 = {**dict1 , **dict2}
print(dict3)

{'ajay': 20, 'vijay': 18, 'sanjay': 22, 'prem': 19, 'samarprit': 16}

In [101]:
#Write a code to convert a list of strings into a set.
lst = set([1,2,3,4,5,6,7,8,9])
lst

{1, 2, 3, 4, 5, 6, 7, 8, 9}