1. Write a Python program to print "Hello, World!y

2.Write a Python program that displays your name and age8

  3.Write code to print all the pre-defined keywords in Python using the keyword library

4. Write a program that checks if a given word is a Python keyword.
5. Write a function to demonstrate the behavior of mutable and immutable arguments.

6. Write a program that performs basic arithmetic operations on two user-input numbers.

9. Write a program to demonstrate the use of logical operators.
5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.
9. Write a Python program to convert user input from string to integer, float, and boolean types.

10. Write code to demonstrate type casting with list elements.

11. Write a program that checks if a number is positive, negative, or zero.

12. Write a for loop to print numbers from 1 to 10.

13. Write a Python program to find the sum of all even numbers between 1 and 50.

14. Write a program to reverse a string using a while loop.
15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
#Write a Python program to print "Hello, World!
print("hello world!")

hello world!

In [ ]:
#.Write a Python program that displays your name and age
Name = "siddheshwar"
Age = 23
print(f"My name is {Name} and Age is {Age}")

My name is siddheshwar and Age is 23

In [ ]:
#Write code to print all the pre-defined keywords in Python using the keyword library
import keyword
for i in keyword.kwlist:
  print(i)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [1]:
#Write a program that checks if a given word is a Python keyword.
import keyword
A = "lost"
if A in  keyword.kwlist:
    print("this is the python keyword")
else:
    print("this is not python keyword")

this is not python keyword

In [ ]:
#Write a function to demonstrate the behavior of mutable and immutable arguments.
L = [1,2,3,4,5,6,7,8]
M = "rahul"
def Mutable_obj(lst):
  lst.pop()
  print(lst)
def Immutable_obj(M):
  M = M + M
  print(M)

In [ ]:
A =Immutable_obj(M)

rahulrahul

In [ ]:
M

'rahul'

In [ ]:
L

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
B = Mutable_obj(L)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Write a program that performs basic arithmetic operations on two user-input numbers.
A = int(input())
B = int(input())
Add = A + B
Subtract = A - B

2
2

In [ ]:
Add

4

In [ ]:
Subtract

0

In [2]:
#Write a program to demonstrate the use of logical operators.
A = int(input())
B = input(" ")
if A >= 23 and B == "vivek":
  print(f"ur age is {A} and name is {B}")
else:
  print(f"ur under 23 & ur name is {B}")

20
 roslin
ur under 23 & ur name is roslin

In [ ]:
#Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.
lst = [5,2,3,6,4,6,4,8,9,3,3,45]
tup = (4,5,6,4,5,4,6,4,6,2,4,5,32,4,3,2)

In [ ]:
lst[10] = 1000

In [ ]:
lst

[5, 2, 3, 6, 4, 6, 4, 8, 9, 3, 1000, 45]

In [ ]:
tup[2] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
 Write a Python program to convert user input from string to integer, float, and boolean types.
 A = input()
 print(f"int {int(A)}")
 print(f"float {float(A)}")
 B = A.lower == True
 print(f"bool {bool(B)}")

1
int 1
float 1.0
bool False

In [ ]:
 #Write code to demonstrate type casting with list elements.
 A = input()
 try:
  print(f"int {int(A)}")
 except ValueError:
  print(f"cannot convert{A} to a int")
 try:
  print(f"float {float(A)}")
 except ValueError:
  print(f"cannot convert {A} to float")
  if A.lower == "true":
    B = True
  elif A.lower == "false":
      b = False
  else:
    B = False
print(f"bool: {B}")

2
int 2
float 2.0
bool: None

In [ ]:
#Write a program that checks if a number is positive, negative, or zero.
try:
    User_input = int(input("Enter a number here   "))
    if User_input > 0:
        print ("this is the positive number")
    elif User_input < 0:
        print("this is the negative number")
    else:
        print("this is zero number")
except (ValueError) :
    print("please enter a valid number")

Enter a number here   12
this is the positive number

In [ ]:
#Write a for loop to print numbers from 1 to 10.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0
while i <=10:
  print(i)
  i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Loop from 1 to 30:
#skip numbers divisible by 3
#stop loop when number is greater than 20
i = 1

while i <= 30:

  if i > 20:
      break
  if i % 3 == 0:
      i = i+ 1
      continue
  print(i)
  i = i + 1

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [ ]:
#Write a Python program to find the sum of all even numbers between 1 and 50.
n = []
i  = 1
for i in range(1,51):
  if i % 2 == 0:
    n.append(i)
A = sum(n)
print(A)

650

In [ ]:
#Write a program to reverse a string using a while loop.
n = "bjbjxbcsxbcsbcjscjsks"
rev = " "
i =len(n) - 1 #this is to find no. of characters in letter
while i >= 0:
  rev = rev + n[i]
  i = i - 1
print(rev)

 sksjcsjcbscbxscbxjbjb

In [ ]:
#Write a Python program to calculate the factorial of a number provided by the user using a while loop.
num = 10 # Let's calculate factorial of 10

factorial = 1

# Check if the number is negative, zero or positive
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   i = 1
   while i <= num:
       factorial = factorial * i
       i = i + 1
   print(f"The factorial of {num} is {factorial}")

0

In [ ]:

i = 1
f = 1
while i <= 4:
  f = f *i
  i = i + 1
print(f)  #in this case i becomes 1,2,3,4 in a loop to perform f = f*i, ex. i = 1 , f = 1 then f = 1*1 = 1
          # then again this i goes to top and becomes 2 then f = 1* 2 = 2 then gain i becomes 3 and f = 2 * 3  = 6
          # then i =  6 and f = 3 * 6 = 18 and 18+3+2+1 = 24

24

In [ ]:
# print a star pattern
i = 1
n = 10
j = 1
while i <= 10 :
  j = 1
  while j <= i:
      print("*", end = " ")
      j = j + 1
  print()
  i = i + 1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
i = 1
while i <= 10:
  j = 1
  while j <= 8:
      print("*", end = " ")
      j = j + 1
  print()
  i = i + 1

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [ ]:
i = 1
while i <= 10:
  j = 1
  while j <= i:
    print (j,end = " ")
    j = j + 1
  print()
  i = i + 1 # in this loop i = 1 becomes j = 1 then it print j= 1 horizontally as end = " " again j = j + 1 break the loop and then another row creats in again
            # i becoms 2 then j = 2 and then j = 1 prints then j = j + 1 becoms 2
            # which is j <= I is j = 2 then prints 2 but this time j = j + 1 becoms 3 which
            # breaks j <= i and again new row is printed.

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
# Multiplication table
i = 1
while i <= 10:
  j = 1
  while j <= 10:
    print(f"this is the {i} into {j}=", j * i)
    j = j +1
  print()
  i = i +1

this is the 1 into 1= 1
this is the 1 into 2= 2
this is the 1 into 3= 3
this is the 1 into 4= 4
this is the 1 into 5= 5
this is the 1 into 6= 6
this is the 1 into 7= 7
this is the 1 into 8= 8
this is the 1 into 9= 9
this is the 1 into 10= 10

this is the 2 into 1= 2
this is the 2 into 2= 4
this is the 2 into 3= 6
this is the 2 into 4= 8
this is the 2 into 5= 10
this is the 2 into 6= 12
this is the 2 into 7= 14
this is the 2 into 8= 16
this is the 2 into 9= 18
this is the 2 into 10= 20

this is the 3 into 1= 3
this is the 3 into 2= 6
this is the 3 into 3= 9
this is the 3 into 4= 12
this is the 3 into 5= 15
this is the 3 into 6= 18
this is the 3 into 7= 21
this is the 3 into 8= 24
this is the 3 into 9= 27
this is the 3 into 10= 30

this is the 4 into 1= 4
this is the 4 into 2= 8
this is the 4 into 3= 12
this is the 4 into 4= 16
this is the 4 into 5= 20
this is the 4 into 6= 24
this is the 4 into 7= 28
this is the 4 into 8= 32
this is the 4 into 9= 36
this is the 4 into 10= 40

this is the 5 into 1= 5
this is the 5 into 2= 10
this is the 5 into 3= 15
this is the 5 into 4= 20
this is the 5 into 5= 25
this is the 5 into 6= 30
this is the 5 into 7= 35
this is the 5 into 8= 40
this is the 5 into 9= 45
this is the 5 into 10= 50

this is the 6 into 1= 6
this is the 6 into 2= 12
this is the 6 into 3= 18
this is the 6 into 4= 24
this is the 6 into 5= 30
this is the 6 into 6= 36
this is the 6 into 7= 42
this is the 6 into 8= 48
this is the 6 into 9= 54
this is the 6 into 10= 60

this is the 7 into 1= 7
this is the 7 into 2= 14
this is the 7 into 3= 21
this is the 7 into 4= 28
this is the 7 into 5= 35
this is the 7 into 6= 42
this is the 7 into 7= 49
this is the 7 into 8= 56
this is the 7 into 9= 63
this is the 7 into 10= 70

this is the 8 into 1= 8
this is the 8 into 2= 16
this is the 8 into 3= 24
this is the 8 into 4= 32
this is the 8 into 5= 40
this is the 8 into 6= 48
this is the 8 into 7= 56
this is the 8 into 8= 64
this is the 8 into 9= 72
this is the 8 into 10= 80

this is the 9 into 1= 9
this is the 9 into 2= 18
this is the 9 into 3= 27
this is the 9 into 4= 36
this is the 9 into 5= 45
this is the 9 into 6= 54
this is the 9 into 7= 63
this is the 9 into 8= 72
this is the 9 into 9= 81
this is the 9 into 10= 90

this is the 10 into 1= 10
this is the 10 into 2= 20
this is the 10 into 3= 30
this is the 10 into 4= 40
this is the 10 into 5= 50
this is the 10 into 6= 60
this is the 10 into 7= 70
this is the 10 into 8= 80
this is the 10 into 9= 90
this is the 10 into 10= 100